body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.main_title{
    text-align: center;
    margin-top: 4rem;
    font-weight: 700;
}

.book_image{
    height: 50%;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.conteiner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    line-height: 1.5rem;
}

.conteiner h2{
    text-align: center;
}

.conteiner_box{
    margin: 0 2rem;
    padding: 3rem;
    height: 42rem;
    /* background-color: #e1e1e1; */

}

.rate_stars{
    height: 15px;

}
