body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background: rgb(242,247,211);
    background: linear-gradient(90deg, rgba(242,247,211,1) 0%, rgba(180,227,233,1) 100%);
}

.main_title{
    text-align: center;
    margin-top: 4rem;
    font-weight: 700;
}

.book_image{
    height: 60%;
    width: 50%;
    text-align: center;
    margin: 1rem auto;
    display: block;
}

.conteiner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    line-height: 1.5rem;
}

.conteiner h2{
    text-align: center;
}

.conteiner_box{
    margin: 0 2rem;
    padding: auto;
    height: auto;

}

.rate_stars{
    height: 15px;

}

@media (max-width: 1150px){
    .main_title{
        font-size: 1.5rem;
    }
    .book_name{
        font-size: 1.5rem;
    }
    .conteiner{
        grid-template-columns: 1fr;
    }
    .book_image{
    height: auto;
    }
    .conteiner_box{
        padding-bottom: 0.5rem;
        margin: 2rem;
    }
}
